---
// src/components/Hero.astro
---

<section class="bg-gray-50 dark:bg-dark-primary py-10 lg:py-16 xl:py-20 2xl:py-24 px-4">
  <div class="max-w-6xl mx-auto text-center">
    <h1 class="text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold pb-4 lg:pb-6 xl:pb-8 bg-gradient-to-r from-primaryColor to-secondaryColor dark:from-dark-accent dark:to-primaryColor text-transparent bg-clip-text">
      Crea interfaces con FortComponents
    </h1>
    <p class="text-base lg:text-lg xl:text-xl mb-6 lg:mb-8 dark:text-dark-text">
      Biblioteca de componentes UI moderna y fácil de usar para crear interfaces web atractivas y funcionales.
    </p>
    <a 
      href="/doc" 
      class="mt-6 lg:mt-8 inline-block bg-primaryColor dark:bg-dark-accent text-white py-2 lg:py-3 px-4 lg:px-6 rounded-lg font-bold hover:bg-secondaryColor dark:hover:bg-dark-primary transition-colors duration-300"
    >
      Empezar ahora
    </a>
  </div>
</section>
